@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h4>Add Ingredient</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add Ingredient" />
}
<p>@Html.ActionLink("See All Ingredients", "Index")</p>